.navbar {
    border-radius: 10px;
    margin: 10px;
    background: rgb(56, 56, 187);
    background: -moz-linear-gradient( 90deg, rgba(56, 56, 187, 1) 0%, rgba(0, 212, 255, 1) 100%);
    background: -webkit-linear-gradient( 90deg, rgba(56, 56, 187, 1) 0%, rgba(0, 212, 255, 1) 100%);
    background: linear-gradient( 90deg, rgba(56, 56, 187, 1) 0%, rgba(0, 212, 255, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#3838bb", endColorstr="#00d4ff", GradientType=1);
}

body {
    background: no-repeat center center fixed;
    background-color: #21D4FD;
    background-image: -webkit-linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    background-image: -moz-linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    background-image: -o-linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}